*,
*::before,
*::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/* =======================
   DESIGN VARIABLES
======================= */
:root {
    --green: #C4F82A;
    --white: #FFFFFF;
    --grey-700: #333333;
    --grey-800: #1F1F1F;
    --grey-900: #141414;
}

body {
    font-family: Inter;
    background-color: #141414;
    min-height: 100vh;
    line-height: 150%;
    letter-spacing: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);

}

.card {
    background-color: var(--grey-800);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 384px;
    padding: 40px;
    border-radius: 12px;
}

img {
    border-radius: 50%;
    width: 88px;
    margin-bottom: 24px;
}

.text-1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.text-2 {
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.text-2-bold {
    font-size: .875rem;
    font-weight: 700;
}

.text-green {
    color: var(--green);
    margin-bottom: 24px;
}

.social-link {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: var(--grey-700);
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: var(--white);
    text-decoration: none;
}

.social-link:last-child {
    margin-bottom: 0
}

.social-link:first-child {
    margin-top: 0;
}

.social-link:hover {
    background-color: var(--green);
    color: var(--grey-700);
}

@media (max-width: 375px) {
    .card {
        width: 327px;
    }
}